.tagyoureit {

    .btn {
        float:left;
        margin-right:12px;
        margin-top:12px;
    }

    .umb-tags {
        float:left;
        padding:5px;
        max-width:calc(100% - 102px);
    }

    .label-empty {
        background:#888;
        cursor:default;
    }

}